/*
******************* CSS DE INTERFACE *******************
*/
/* RESET */
* {
    margin: 0;   /* espaçamento externo do objeto */
    padding:0;   /* espaçamento interno do objeto */
    box-sizing: border-box;   /* indica que o tamanho levará em conta até a borda, ou seja, o width será a soma do conteúdo com a borda e o padding */
}

/* GENERAL */
body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;   /* todo conteúdo que ultrapassar a horizontal será ignorado */
}

/* HEADER */
header {
    height: 100px;   /* altura */
    background-color: #000;   /* cor de fundo */
    color: #FFF;   /* cor do texto */
}

.header {
    max-width: 1140px;   /* largura máxima */
    height: 100px;   /* altura */
    margin: auto;
    display: flex;   /* define a propriedade display do container com o valor flex para que as demais propriedades apresentem o resultado esperado */
    align-items: center;   /* centraliza todos os itens verticalmente */
}

.logo {
    width: 100px;   /* largura */
}

.logoimg {
    width: 80px;   /* largura */
    height: 80px;   /* altura */
    background-color: #B28756;   /* cor de fundo */
    border-radius: 40px;   /* cria bordas, no caso está criando um círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

/* HEADER / MENU */
.menu {
    flex: 1;   /* pega todo o restante do espaço disponível */
    display: flex;
    justify-content: flex-end;   /* alinha os itens a partir do fim do eixo principal */
}

.menu ul,
.menu li {
    list-style: none;   /* remove o estilo da lista, no caso, as bolinhas */
}

.menu ul {
    display: flex;
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;   /* passa as letras para maiúsculas */
    font-weight: 600;   /* fonte em seminegrito */
    text-decoration: none;   /* remove o sublinhado dos links */
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;   /* (padrão é inline) altera para colocar altura */ /* neste caso se faz necessário para que se possa aumentar a altura do menu para colocar a borda na parte debaixo do menu */
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #B28756;   /* borda inferior do menu */
    color: #CCC;
}

/* MAIN / BANNER / SLIDES */
.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner {
    height: calc(100vh - 100px);   /* (vh) tamanho total do monitor que estiver exibindo a página */ /* subtraindo o tamanho do menu para não dar barra vertical */
    background-color: #333;   /* fundo padrão para o caso da imagem não aparecer */
    background-image: url('../images/bg.jpg');
    background-size: cover;   /* ajusta o tamanho da imagem para preencher todo o espaço */
    background-position: bottom;   /* ajusta a imagem a partir da parte inferior */
    overflow: hidden;   /* o que passar do tamanho do conteúdo será ignorado (some com a barra horizontal) */
}

.banner .sliders {
    width: 1000vw;   /* supondo que suporte 10 slides (tela) a 100vw cada */
    height: 100%;   /* toda a largura disponível */
}

.banner .slide {
    width: 100vw;
    height: 100%;   /* toda a altura disponível */
    display: inline-block;   /* inline: um ao lado do outro e block: manter as proporcionalidades de width e height */
    background-color: rgba(0, 0, 0, 0.8);   /* coloca transparência na imagem de fundo */
}

.banner .slidearea {
    display: flex;
    flex-direction: column;   /* altera a direção para que o h2 (número de telefone) fique abaixo do h1, e não na frente */
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}


.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;   /* faz aparecer o conteúdo */
    margin-top: -50px;

    /* alinhamento: centralizar as bolinhas */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

/* SEÇÃO PADRÃO (FRAMEWORK) */
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 11px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #FFF;
}

/*
******************* CSS DE ÁREAS ESPECÍFICAS *******************
*/
/* SECTION ABOUT US */
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left {
    font-size: 14px;
    line-height: 25px;   /* espaçamento entre linhas */
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;   /* sombra */
}

/* SECTION SERVICES */
.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;   /* aplica borda somente no primeiro elemento */
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}